:root {
  --primary-color: #144d53;
  --secondary-color: rgba(173, 199, 201, 0.4);
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  max-height: 50px;
  border-radius: 90%;
}
nav ul {
  padding-left: 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
}
nav a {
  text-decoration: none;
  color: #35343b97;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

.hero {
  text-align: left;
  background: var(--secondary-color);
}

.about-header h3 {
  font-size: 37px;
}
h1 {
  font-size: 87px;
}
.hero h2 {
  font-size: 30px;
}
.hero p {
  font-size: 37px;
}
.programmer {
  display: block;
  max-width: 75%;
}
.profile-photo {
  border-radius: 20%;
  max-height: 500px;
}
.btn-brand {
  background: var(--primary-color);
  color: whitesmoke;
  font-weight: 200;
  padding: 15px 30px;
}

.btn-brand:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

h2 {
  font-weight: bold;
  font-size: 45px;
}

.description h3 {
  color: var(--primary-color);
}

.workpics {
  border-radius: 5px;
  border: 50px solid var(--secondary-color);
  max-width: 90%;
  max-height: 90%;
}
.project-descriotion {
  padding: 20px;
}

.react-work h3 {
  color: var(--primary-color);
}

.btn-branding {
  background: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-weight: 500;
  padding: 10px 45px;
  margin-bottom: 15px;
}
.btn-branding:hover {
  background: var(--primary-color);
  color: white;
}
.contact-box {
  background: var(--secondary-color);
  padding: 30px;
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 40px;
}
.footer-container-about {
  margin-left: 50px;
  margin-right: 50px;
}

.skills-section p {
  font-size: 10px;
  font-weight: bold;
}
.icon {
  max-width: 30%;
}
.carousel {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
.work-container h1 {
  font-size: 70px;
}
.work-container h3 {
  color: var(--primary-color);
}
.work-sample {
  max-width: 80%;
}
.contact h1 {
  text-align: center;
}

.contact-info {
  background: var(--secondary-color);
  border-radius: 10px;
}
.contact-img {
  max-width: 70%;
}
.contact-info h3 {
  color: var(--primary-color);
}
.contact-info a {
  color: #1e3034b0;
  text-decoration: none;
}
.contact-info a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.social-icons {
  border-radius: 100%;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 25px;
  background-color: var(--secondary-color);
  padding: 10px;
  margin: 0 27px;
  transition: all 100ms ease-in-out;
}
.social-icons:hover {
  color: whitesmoke;
  background-color: var(--primary-color);
}
.open-sourced p {
  font-size: 13px;
}

@media (max-width: 960px) {
  .hero h1 {
    font-size: 60px;
  }
  .project-descriotion {
    text-align: center;
  }
  .about-header {
    text-align: center;
    margin: 0 auto;
  }
  .about-header h1 {
    font-size: 65px;
  }
  .about-header h2 {
    font-size: 35px;
  }
  .about-header h3 {
    font-size: 27px;
  }
  .carousel {
    max-width: 100%;
  }
  .icon {
    max-width: 50%;
  }
  .work-screenshot a {
    font-size: 8px;
  }
  .work-sample {
    border: 30px solid var(--secondary-color);
  }
  .work-container h1 {
    font-size: 43px;
  }
  .contact h1 {
    font-size: 75px;
    text-align: center;
  }
  .open-sourced p {
    font-size: 9px;
  }
}
